<div class="addto_div">
	<ul class="addto_widget">
		<li><strong>Add to:</strong></li>
  		<li><a href="#">Favorites</a></li>
  		<li><a href="#">Queue</a></li>
  		<li id="collectbutton">Collections
  			<ul class="vdrop">
  				<li><a href="#">Add to New Collection</a></li>
  				<li><a href="#">Collections1</a></li>
  				<li><a href="#">Collections2</a></li>
  				<li><a href="#">Collections3</a></li>
  				<li><a href="#">Collections4</a></li>
  				<li><a href="#">Collections5</a></li>
  		</li>
  	<ul>
</div>
